<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>message_great</key>
		<string>GREAT!</string>
		<key>message_topnotch</key>
		<string>TOPNOTCH</string>
		<key>message_fantastic</key>
		<string>FANTASTIC!</string>
		<key>message_groovy</key>
		<string>GROOVY</string>
		<key>message_peachy!</key>
		<string>PEACHY!</string>
		<key>message_fabulous</key>
		<string>FABULOUS</string>
		<key>message_amazing</key>
		<string>AMAZING</string>
		<key>message_super</key>
		<string>SUPER!</string>
		<key>message_goodwork</key>
		<string>GOOD WORK!</string>
		<key>message_smashing</key>
		<string>SMASHING</string>
		<key>message_yeah</key>
		<string>YEAH!</string>
		<key>message_award</key>
		<string>AWARD!</string>
	</dict>
</array>
</plist>
