<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>message_great</key>
		<string>message_great.png</string>
		<key>message_topnotch</key>
		<string>message_topnotch.png</string>
		<key>message_fantastic</key>
		<string>message_fantastic.png</string>
		<key>message_fabulous</key>
		<string>message_fabulous.png</string>
		<key>message_amazing</key>
		<string>message_amazing.png</string>
		<key>message_super</key>
		<string>message_super.png</string>
		<key>message_goodwork</key>
		<string>message_goodwork.png</string>
		<key>message_yeah</key>
		<string>message_yeah.png</string>
		<key>message_award</key>
		<string>message_award.png</string>
	</dict>
</array>
</plist>
