<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>page_icon1</key>
		<string>AppIcon.png</string>
		<key>main_title_text</key>
		<string>Welcome to WrdLnk</string>
		<key>sub_title1_text</key>
		<string>The app for word explorers</string>
		<key>next_page_text</key>
		<string>Get Started</string>
		<key>next_page_button</key>
		<string>walkthrough-proceed-arrow.png</string>
	</dict>
	<dict>
		<key>page_icon1</key>
		<string>settingsOnButton.png</string>
		<key>page_icon2</key>
		<string>scoreOnButton.png</string>
		<key>page_icon3</key>
		<string>timerOnButton.png</string>
		<key>page_icon4</key>
		<string>settingsOnButton.png</string>
		<key>page_icon5</key>
		<string>graphButton.png</string>
		<key>main_title_text</key>
		<string>Monitor your performance</string>
		<key>sub_title1_text</key>
		<string>Control what you want to see</string>
		<key>next_page_text</key>
		<string>Next</string>
		<key>next_page_button</key>
		<string>walkthrough-proceed-arrow.png</string>
	</dict>
	<dict>
		<key>page_icon1</key>
		<string>graphButton.png</string>
		<key>main_title_text</key>
		<string>Enjoy!</string>
		<key>sub_title1_text</key>
		<string>We hope you love using WrdLnk</string>
		<key>sub_title2_text</key>
		<string>as much as we do.</string>
		<key>next_page_text</key>
		<string>Next</string>
		<key>next_page_button</key>
		<string>walkthrough-proceed-arrow.png</string>
	</dict>
	<dict>
		<key>page_icon1</key>
		<string>timerOnButton.png</string>
		<key>main_title_text</key>
		<string>Last page</string>
		<key>sub_title1_text</key>
		<string>Thanks to all who helped</string>
		<key>next_page_text</key>
		<string>Enter App</string>
		<key>next_page_button</key>
		<string>walkthrough-proceed-arrow.png</string>
	</dict>
</array>
</plist>
