<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>page_icon1</key>
		<string>pdf/mark</string>
		<key>main_title_text</key>
		<string>Welcome To WrdLnk</string>
		<key>info_image_filename</key>
		<string>wrdlnk_gamescene.png</string>
		<key>sub_title1_text</key>
		<string>In WrdLnK your challenge is to find the related words in a grid. Words join to make other words.</string>
		<key>sub_title2_text</key>
		<string></string>
		<key>next_page_text</key>
		<string>FIND OUT MORE &gt;</string>
		<key>next_page_button</key>
		<string></string>
	</dict>
	<dict>
		<key>page_icon1</key>
		<string>pdf/mark</string>
		<key>info_image_filename</key>
		<string>wrdlnk_gamestatus.png</string>
		<key>main_title_text</key>
		<string>Touch To Link Word</string>
		<key>sub_title1_text</key>
		<string>When you know a word just select the missing letter to complete the word. The words are related in some way.</string>
		<key>sub_title2_text</key>
		<string></string>
		<key>next_page_text</key>
		<string>NEXT &gt;</string>
		<key>next_page_button</key>
		<string></string>
	</dict>
	<dict>
		<key>page_icon1</key>
		<string>pdf/mark</string>
		<key>main_title_text</key>
		<string>Missing Letters</string>
		<key>info_image_filename</key>
		<string>wrdlnk_mainmenu_colorblind.png</string>
		<key>sub_title1_text</key>
		<string>Collect points for accuracy or speed. You can change your game scene.</string>
		<key>sub_title2_text</key>
		<string></string>
		<key>next_page_text</key>
		<string>NEXT &gt;</string>
		<key>next_page_button</key>
		<string></string>
	</dict>
	<dict>
		<key>page_icon1</key>
		<string>pdf/mark</string>
		<key>main_title_text</key>
		<string>A Way To Play</string>
		<key>info_image_filename</key>
		<string>wrdlnk_settings_nightmode</string>
		<key>sub_title1_text</key>
		<string>A small hint: attempt to find the middle word first. We hope you enjoy WrdLnk as much as we do.</string>
		<key>sub_title2_text</key>
		<string></string>
		<key>next_page_text</key>
		<string>Enter WrdLnk &gt;</string>
		<key>next_page_button</key>
		<string></string>
	</dict>
</array>
</plist>
