<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>page_icon1</key>
		<string>AppIcon.png</string>
		<key>main_title_text</key>
		<string>WELCOME TO WRDLNK</string>
		<key>sub_title1_text</key>
		<string>IN WRDLNK YOUR CHALLENGE IS TO FIND THE RELATED WORDS IN A GRID</string>
		<key>sub_title2_text</key>
		<string>THIS IS HOW IT WORKS</string>
		<key>next_page_text</key>
		<string>FIND OUT MORE</string>
		<key>next_page_button</key>
		<string>walkthrough-proceed-arrow.png</string>
	</dict>
	<dict>
		<key>page_icon1</key>
		<string>AppIcon.png</string>
		<key>page_icon2</key>
		<string>scoreOn.png</string>
		<key>page_icon3</key>
		<string>timerOn.png</string>
		<key>page_icon4</key>
		<string>settingsOn.png</string>
		<key>page_icon5</key>
		<string>graphButton.png</string>
		<key>main_title_text</key>
		<string>TOUCH TO LINK WORD</string>
		<key>sub_title1_text</key>
		<string>WHEN YOU KNOWN A WORD JUST SELECT THE MISSING LETTER TO COMPLETE THE WORD</string>
		<key>sub_title2_text</key>
		<string>THE WORDS ARE RELATED IN SOME WAY</string>
		<key>next_page_text</key>
		<string>Next</string>
		<key>next_page_button</key>
		<string>walkthrough-proceed-arrow.png</string>
	</dict>
	<dict>
		<key>page_icon1</key>
		<string>AppIcon.png</string>
		<key>main_title_text</key>
		<string>MISSING LETTERS</string>
		<key>sub_title1_text</key>
		<string>YOU NEED TO SELECT THE MISSING LETTER FROM THE LIST SHOWN IN LOWER GRID</string>
		<key>sub_title2_text</key>
		<string>YOU CAN TURN SOUND ON TO CONFIRM A SELECTION</string>
		<key>next_page_text</key>
		<string>Next</string>
		<key>next_page_button</key>
		<string>walkthrough-proceed-arrow.png</string>
	</dict>
	<dict>
		<key>page_icon1</key>
		<string>walkthrough-heart-icon.png</string>
		<key>main_title_text</key>
		<string>A WAY TO PLAY</string>
		<key>sub_title1_text</key>
		<string>IT MAY BE GOOD TO TRY AND FIND THE MIDDLE WORD FIRST IF YOU GET STUCK</string>
		<key>sub_title2_text</key>
		<string>WE HOPE YOU ENJOY WRDLNK AS MUCH AS WE DO</string>
		<key>next_page_text</key>
		<string>ENTER WRDLNK</string>
		<key>next_page_button</key>
		<string>walkthrough-proceed-arrow.png</string>
	</dict>
</array>
</plist>
